.block-ai-container div.notice.notice-info > p {
  display: flex;
  align-items: center;
  gap: 15px;
}

.block-ai-container div.block-ai-info {
  background-color: #fff;
  padding: 25px;
  margin-top: 15px;
  border: 1px solid #c3c4c7;
}

.block-ai-container div.block-ai-info p {
  font-size: 135%;
  color: rgb(75, 75, 75);
}

.block-ai-container div.block-ai-info table p {
	font-size: 100%;
}

.block-ai-container .link {
	font-size: 100%;
	padding-top: 2px;
	text-decoration: none;
}

.block-ai-container table a:hover, 
.block-ai-container table a:active {
	text-decoration: none;
} 

.block-ai-container div.block-ai-info table th,
.block-ai-container div.block-ai-info table p {
  color: rgb(75, 75, 75);
}
.block-ai-container div.block-ai-info table p {
  margin-top: 0;
}

.block-ai-container table.crawler-table {
  background-color: #fff;
  border: 1px solid #eee;
  margin-bottom: 20px;
}

.block-ai-container table :is(th, td) {
  padding: 10px;
}

.block-ai-container table.form-table {
	border: none;
}
.block-ai-container table.crawler-table td,
.block-ai-container table.crawler-table th {
	border-bottom: 1px solid #eee;
	padding: 10px;
}

.block-ai-container table.crawler-table tr:last-of-type th,
.block-ai-container table.crawler-table tr:last-of-type td {
	border-bottom: none;
} 

.block-ai-container table.crawler-table p {
  margin-bottom: 0;
}

.block-ai-container table.form-table td,
.block-ai-container table.form-table th {
	padding: 0;
}

.block-ai-container summary h3 {
  display: inline-block;
  cursor: pointer;
}

.block-ai-container summary {
  border-bottom: 2px solid #eee;
  margin-bottom: 2em;
  cursor: pointer;
}

.block-ai-container section > h3 {
  margin-top: 2.25em;
  display: block;
}

.block-ai-container hr {
  border: none;
  border-bottom: 2px solid #eee;
  color: #fff;
}

.block-ai-container .form-table td {
	vertical-align: top;
}

.crawler-table th { 
	text-align: left; 
}
.crawler-table .crawler-description {
	width: 40%;
}
.crawler-table .crawler-link {
	text-align: right;
	width: 20%;
}